---
layout: index
---

<h3>Introduction</h3>
<p><strong>The Process Hitting</strong> is a recently introduced formalism suited for modelling <strong>qualitative
dynamics of biological networks</strong>.
It is a special class of Asynchronous Automata Networks.</p>

<p>The Process Hitting comes with <strong>powerful static analysis for dynamical properties</strong>,
including fix points, successive reachability properties, and cut sets for reachability.
Such analysis are tractable for <strong>very large-scale networks</strong>, ranging from
hundreds to thousands of concurrently interacting components.
The translation to related formalisms, in particular Boolean and multi-valued networks, is also
possible.</p>

<p><strong>Pint</strong> implements the language, simulation, formal analysis, and translation of Process Hitting
models.</p>


<h3>Documentation</h3>
<ul>
	<li><a href="{{ site.baseurl }}/doc/install.html">Installation</a></li>
	<li><a href="{{ site.baseurl }}/doc/usage.html">Usage</a></li>
	<li><a href="{{ site.baseurl }}/doc/syntax.html">Language syntax</a></li>
	<li><a href="{{ site.baseurl }}/doc/dev.html">Development</a></li>
</ul>


<h3>Related Papers</h3>
<ul>
{% for post in site.posts %}
{% if post.category == 'papers' %}
	<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> ({{ post.authors }} {{ post.published }})</li>
{% endif %}
{% endfor %}
</ul>

<h3><a name="models"></a>Model Repository</h3>
<p>Here are some example Process Hitting models of biological networks.
Bibliographic references are in the header of the files.</p>
<ul>
{% for post in site.posts %}
{% if post.category == 'models' %}
	<li><a href="{{ site.baseurl }}/models/{{ post.name }}.ph">{{ post.name }}.ph</a>
		- {{ post.description }}.</li>
{% endif %}
{% endfor %}
</ul>

<h3>
<a name="authors-and-contributors" class="anchor" href="#authors-and-contributors"><span class="octicon octicon-link"></span></a>Authors and Contributors</h3>

<p>
Pint has been created and is maintained by <a href="http://loicpauleve.name">Loïc Paulevé</a>.
It also contains contributions from <a href="http://www.irccyn.ec-nantes.fr/~folschet">Maxime
Folschette</a> (inference of interaction graph and Boolean networks).</p>


<h3>
<a name="support-or-contact" class="anchor" href="#support-or-contact"><span class="octicon octicon-link"></span></a>Support or Contact</h3>

<p>If you have any question regarding Pint or the Process Hitting, please contact <a
href="mailto:loic.pauleve@lri.fr">Loïc Paulevé</a>.</p>

