---
layout: index
---

<h3>Introduction</h3>

<p><strong>Pint</strong> implements static analyses for computing dynamical properties on
<strong>very large-scale Automata Networks<strong>, ranging from hundreds to thousands
of concurrently interacting components.
Provided analyses include notably the listing of fixed points, successive
reachability properties, cut sets for reachability, and model reduction
preserving transient dynamics.
The translation to related formalisms, in particular Boolean and multi-valued networks, is also
provided.</p>

<p>Automata Networks are defined by a set of finite-state machines whose local
transitions can be conditionned by the state of other automata in the network.
Applications are in particlar in <strong>systems biology</strong> with the modelling and
analysis of signalling pathways and gene regulatory networks, gathering multiple
interacting components that can be represented with a few local states.</p>

<p>Pint comes with several command line tools to perform formal analyses,
reductions, simulations, and translation to other formalisms.
An OCaml library, with possible C bindings, can also be compiled in order to
embed the static analyses in other frameworks.</p>

<p><a href="gui/">Graphical interfaces</a> for <strong>Pint</strong> are also available.</p>


<h3>Documentation</h3>
<ul>
	<li><a href="{{ site.baseurl }}/doc/install.html">Installation</a></li>
	<li><a href="{{ site.baseurl }}/doc/usage.html">Usage</a></li>
	<li><a href="{{ site.baseurl }}/doc/syntax-an.html">Syntax for Automata Network models</a> (.an)</li>
	<li><a href="{{ site.baseurl }}/doc/syntax-ph.html">Syntax for Process Hitting models</a> (.ph)</li>
	<li><a href="{{ site.baseurl }}/doc/dev.html">Development</a></li>
</ul>


<h3>Related Papers</h3>
<ul>
{% for post in site.posts %}
{% if post.category == 'papers' %}
	<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> ({{ post.authors }} {{ post.published }})</li>
{% endif %}
{% endfor %}
</ul>

<h3><a name="models"></a>Model Repository</h3>
<p>Here are some example Process Hitting models of biological networks.
Bibliographic references are in the header of the files.</p>
<ul>
{% for post in site.posts %}
{% if post.category == 'models' %}
	<li><a href="{{ site.baseurl }}/models/{{ post.name }}.ph">{{ post.name }}.ph</a>
		- {{ post.description }}.</li>
{% endif %}
{% endfor %}
</ul>

<h3>
<a name="authors-and-contributors" class="anchor" href="#authors-and-contributors"><span class="octicon octicon-link"></span></a>Authors and Contributors</h3>

<p>
Pint has been created and is maintained by <a href="http://loicpauleve.name">Loïc Paulevé</a>.
It also contains contributions from <a href="http://www.irccyn.ec-nantes.fr/~folschet">Maxime
Folschette</a> (inference of interaction graph and Boolean networks).</p>


<h3>
<a name="support-or-contact" class="anchor" href="#support-or-contact"><span class="octicon octicon-link"></span></a>Support or Contact</h3>

<p>If you have any question regarding Pint or the Process Hitting, please contact <a
href="mailto:loic.pauleve@lri.fr">Loïc Paulevé</a>.</p>


